@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.wrapper{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    flex-wrap: wrap;
}

.header_1{
   width: 100%;
   //border: 1px solid blue;
   text-align:center;
}

.search-input{
    display: flex;
    //flex-direction: column;
    //justify-content: center;
    //left:50vw;
    border: 1px solid green;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 260px;
    background: #EEEEEE;
    border:0;
}

.date_wrapper{
    display: flex;
    //flex-direction: column;
    //justify-content: center;
    //left:50vw;
    //border: 1px solid green;
    margin: 10px;
    //padding: 10px;
    border-radius: 10px;
    width: 260px;
    background: #EEEEEE;
    border:0;
}

#list{
    list-style-type: none;
    flex-grow: 1;
}

input{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: 260px;
    background: #EEEEEE;
    border:0;
}

body{
    background: #F8485E;
    color: #EEEEEE;
    font-family: 'Raleway', sans-serif;
}

.basic-text{
    text-align: center;
}